<div id="placeholder">

</div>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="centered sizeable">
  <picture>
    <source media="(max-width: 256px)" srcset="../../assets/icons/favIconGreen256x256.png">
    <img src="../../assets/icons/favIconGreen512x512.png" alt="logo">
  </picture> 
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"  formControlName="email" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
  </div>
  <!--div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>-->
  <app-our-alert [message]="alertMessage" *ngIf="alertMessage != null" ></app-our-alert>
  <button type="submit" class="btn btn-success btn-lg btn-block">Register / Login</button>
</form>