


.personListItem{
	margin: 0;
    padding: 10px 0 10px 54px;
	list-style: none;
	background-image: url('../../assets/person-male.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 6%;
    margin-bottom: 3%;
}

.navbar{
    background-color: #268b07;
    border:none;
    color:white;
    margin-bottom: 0px;
}

.navbar a{
    color:white;

}

.navbar a.dropdown-toggle{
    background-color: #268b07
}


.navbar a:hover, a:focus, a:active{
    color:lightgrey;
    background-color: #268b07;
}

.navbar-nav .open .dropdown-menu {
    background-color:#268b07;
}

div form {
    margin-left: 3%;
    margin-right: 3%;
    margin-top:9%;
    margin-bottom: 9%;
}