<!-- NAV -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{flaty}}</a>
    </div>
  </div>
</nav>
<!-- CONTENT -->
<!-- List of members in current Flaty -->
<!--<div class="centered sizeable">
  <h3>Member in {{flaty}}</h3>
  <ul class="personList">
      <li *ngFor="let member of members">
        {{member.email}}
      </li>
    </ul>-->
  <!-- <mat-nav-list>
    <mat-list-item *ngFor="let member of members"> {{ member.email }} </mat-list-item>
  </mat-nav-list> -->


<div class="centered sizeable">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <h3>Member in {{flaty}}</h3>
      <ul>
          <li class="personListItem" *ngFor="let member of members">
            {{member.email}}
          </li>
      </ul>

    <div class="form-group">
      <label for="email">Please insert the email of your flatmate</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email"
        placeholder="email">
      <small id="emailHelp" class="form-text text-muted">I am sure your flatmate, will help you with that.</small>
    </div>

    <button id="addButton" type="submit" class="btn btn-success">Add</button>
  </form>

  <app-our-alert [message]="alertMessage" *ngIf="alertMessage != null" ></app-our-alert>
  <button type="button" (click)="finish()" class="btn btn-success btn-lg btn-block">Finish</button>
  <button type="button" (click)="leave()" class="btn btn-success btn-lg btn-block">Leave Flaty</button>
</div>