<div id="placeholder">

</div>
<main class="centered sizeable">
    <picture>
        <source media="(max-width: 256px)" srcset="../../assets/icons/favIconGreen256x256.png">
        <img src="../../assets/icons/favIconGreen512x512.png" alt="logo">
    </picture> 
    <button type="submit" (click)="newFlaty()" class="btn btn-success btn-lg btn-block">Create a new Flaty</button>
    <button type="submit" (click)="existingFlaty()" class="btn btn-success btn-lg btn-block">Join an existing Flaty</button>

</main>