<div id="placeholder">

</div>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="centered sizeable" >
    <picture>
        <source media="(max-width: 256px)" srcset="../../assets/icons/favIconGreen256x256.png">
        <img src="../../assets/icons/favIconGreen512x512.png" alt="logo">
    </picture> 
    <div class="form-group">
        <label for="title">Choose a fancy title for your flaty</label>
        <input type="title" class="form-control" id="title" aria-describedby="titleHelp"  formControlName="title" placeholder="Title">
        <small id="titleHelp" class="form-text text-muted">The better the name, the better your flaty</small>
    </div>
    <app-our-alert [message]="alertMessage" *ngIf="alertMessage != null" ></app-our-alert>
    <button type="submit" class="btn btn-success btn-lg btn-block">Finish</button>
</form>