<div id="placeholder">

</div>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="centered sizeable" >
    <picture>
        <source media="(max-width: 256px)" srcset="../../assets/icons/favIconGreen256x256.png">
        <img src="../../assets/icons/favIconGreen512x512.png" alt="logo">
    </picture> 
  <div class="form-group">
    <label for="flatyId">Input your Flaty Identifier</label>
    <input type="flatyId" class="form-control" id="title" aria-describedby="flatyIdHelp"  formControlName="flatyId" placeholder="Flaty Identifier">
    <small id="flatyIdHelp" class="form-text text-muted">Your Flatmate can share the Flaty Identifier with you</small>
  </div>
  <app-our-alert [message]="alertMessage" *ngIf="alertMessage != null" ></app-our-alert>
  <button type="submit" class="btn btn-success btn-lg btn-block">Finish</button>
</form>