/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';

*{
    margin:0px;
    padding:0px;
}

body,html{
    height:100%;
}

ul{
    list-style: none;
}

#placeholder{
    height:1em;
    width:100%;
}

.centered{
    margin: auto auto;
}

.sizeable{
    width:50%;
}

@media all and (max-width: 840px) {
    .sizeable{
        width:90%;
    }
}

form picture, main picture{
    width: 100%;
}

form picture img ,main picture img{
    border: none;
    margin:auto;
    width:30%;
    display: block; 
    margin-bottom: 2em;
}