#mainBackground {
    background-size: 30px 30px;
    background-image: linear-gradient(to right, #ebf5fb 1px, transparent 1px), linear-gradient(to bottom, #ebf5fb 1px, transparent 1px);
    min-height: 100%;
    min-width: 100%;
}


.navbar{
    background-color: #268b07;
    border:none;
    color:white;
    margin-bottom: 0px;
}

.navbar a{
    color:white;

}

.navbar a.dropdown-toggle{
    background-color: #268b07
}


.navbar a:hover, a:focus, a:active{
    color:lightgrey;
    background-color: #268b07;
}

.navbar-nav .open .dropdown-menu {
    background-color: #268b07;
}

main{
    margin-left: auto;
    margin-right:auto;
    margin-top: 6%;
    margin-bottom: 3%;
}

main button {
    margin-top: 5%;
    float:right;
}

main h1{
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    margin-bottom: 2%;
}

main ul{
        font-size: 2.5em;
        font-style: bold;
        list-style: disc;
        margin-left: 2%;
}

main ul li{
    margin-bottom: 1.5%;
    margin-left: 2%;
}

@media all and (max-width: 840px) {
    main ul{
        font-size: 1em;
        font-style: bold;
        list-style: disc;
        margin-left: 2%;
    }

    main h1{
        font-size:1.8em;
    }
}
